##########################################################
# All variables in config.prop are optional
# Removing or leaving them blank will keep default values
##########################################################

# The version name and version count of Magisk
# versionCode = versionCount + baseVersionCode
version=string
versionCount=int [0,99] 0 for stable/beta, 1~99 for canary

# The version name and version code of Magisk Manager
appVersion=string
appVersionCode=int

# Output path
outdir=string

################################################################
# Whether to use pretty names for zips
# e.g. Magisk-v${version}.zip, Magisk-uninstaller-${date}.zip
# Default names are magisk-${release/debug/uninstaller}.zip
################################################################

# The value is either true or false
prettyName=bool

#####################################################
# Signing configs for signing zips and APKs
# These 4 variables has to be either all set or not
#####################################################

# Path to keystore file
keyStore=string
# Keystore password
keyStorePass=string
# The desired key alias in the keystore
keyAlias=string
# Password of specified key alias
keyPass=string
